# Database
POSTGRES_DB=minisoftware
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
DATABASE_URL=postgres://admin:password@db:5432/minisoftware

# Redis
REDIS_URL=redis://redis:6379/0

# Django
SECRET_KEY=change-this-in-production
DEBUG=True

# Frontend
VITE_GRAPHQL_URL=http://localhost:8001/graphql
